body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2ecc71;
    background-image: url(../images/background_login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body header {
    z-index: 1;
    background: #2ecc71;
    height: 100px;
}