    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }
    
    body {
        font-family: sans-serif;
        background: #2ecc71;
    }
    /* This is Navigation bar code */
    
    nav {
        background: #2ecc71;
        height: 80px;
        width: 100%;
    }
    
    img.logo_img {
        max-width: 60px;
        margin-top: 10px;
        margin-left: 30px;
    }
    
    label.logo {
        position: absolute;
        color: white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 30px;
        font-weight: bold;
    }
    
    .subTitle {
        color: white;
        display: inline-block;
        font-size: 10px;
        padding-left: 15px;
    }
    
    nav ul {
        float: right;
        margin-right: 20px;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    
    nav ul li a {
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        padding: 10px 13px;
        border-radius: 3px;
    }
    
    #logout {
        margin-left: 50px;
    }
    
    a.active,
    a:hover {
        background: #27ae60;
        transition: .5s;
    }
    
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        margin-right: 40px;
        line-height: 80px;
        margin-top: 25px;
        cursor: pointer;
        display: none;
    }
    
    .checkbtn:hover {
        color: #27ae60;
    }
    
    #check {
        display: none;
    }
    
    @media (max-width: 930px) {
        #logout {
            margin-left: 0px;
        }
        label.logo {
            font-size: 30px;
        }
        nav ul li a {
            font-size: 15px;
        }
        .subTitle {
            padding-left: 5px;
        }
    }
    
    @media (max-width: 830px) {
        .checkbtn {
            display: block;
        }
        nav ul {
            position: fixed;
            z-index: 1000;
            width: 100%;
            height: 100vh;
            background: #27ae60;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a {
            font-size: 20px;
        }
        a:hover,
        a.active {
            background: none;
            color: #2ecc71;
        }
        #check:checked~ul {
            left: 0;
        }
    }
    
    @media (max-width: 340px) {
        label.logo {
            font-size: 25px;
        }
    }
    /* This is Main Website code */
    
    main {
        min-height: 100vh;
        background-image: url(../images/background_login.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .items-container {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
    }
    
    .items {
        position: relative;
        margin: 25px 25px;
        padding: 15px 15px;
        background: #27ae60;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 10px #34495e;
        overflow: hidden;
    }
    
    .items:hover img {
        transition: 0.8s;
        transform: scale(1.8);
        opacity: 0.2;
    }
    
    .items-container img {
        height: 300px;
        width: 500px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    
    .items-container h1 {
        font-size: 40px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        margin-top: 5px;
    }
    
    .items:hover h1 {
        position: absolute;
        font-size: 70px;
        transition: .5s;
        color: #1e3799;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .items:active {
        transform: translate(-3px, -3px);
    }
    
    @media (max-width: 700px) {
        .items-container img {
            width: 100%;
        }
        .items:hover h1 {
            font-size: 50px;
        }
    }
    
    @media (max-width: 700px) {
        .items h1 {
            font-size: 25px;
        }
    }
    /*
    This is code for form appear when click on any ticket
    */
    
    .background_form_appear_in {
        transition: all .5s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #95a5a6;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    
    .form_appear_in {
        transition: all .6s;
        box-shadow: 0px 0px 25px 10px #34495e;
        background: #2ecc71;
        position: fixed;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 90%;
        border-radius: 10px;
        border: 10px solid #27ae60;
        z-index: 200;
        opacity: 0;
        visibility: hidden;
    }
    
    .header_form_appear {
        background: #ecf0f1;
        border: 2px solid #27ae60;
        border-radius: 5px;
        margin: 15px 15px;
        padding: 15px 30px;
        display: flex;
        justify-items: center;
        justify-content: space-between;
    }
    
    .header_form_appear i {
        font-size: 35px;
        color: red;
        margin: auto 0;
    }
    
    .header_form_appear i:hover,
    .header_form_appear i:active {
        transition: all .5s;
        transform: scale(1.2);
    }
    
    .header_form_appear h1 {
        margin: auto 25px;
    }
    
    .main_form_appear {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: calc(100% - 200px);
        overflow: auto;
        background: #ecf0f1;
        padding: 15px 15px;
    }
    
    .boder_form_toash {
        border: 2px solid #27ae60;
        border-radius: 5px;
        padding: 15px 30px;
        min-height: 100%;
    }
    
    .part_form_toash {
        border-top: 10px solid #27ae60;
        margin-top: 5px;
        padding: 5px 0;
    }
    
    .title_form_toash {
        position: relative;
        min-height: 100px;
    }
    
    .title_form_toash img {
        width: 150px;
        height: 100px;
        border-radius: 5px;
    }
    
    .title_form_toash h3 {
        color: #3498db;
        display: inline-block;
        position: absolute;
        margin-left: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .content_form_toash {
        margin: 5px 0;
        border-top: 2px solid #27ae60;
        min-height: 50px;
        text-decoration: none;
        background: none;
        padding: 5px 0;
    }
    
    .content_form_toash a {
        color: black;
    }
    
    .content_form_toash a:hover {
        transition: .5s;
        color: #3498db;
    }
    
    .footer_form_appear {
        background: #ecf0f1;
        padding: 15px 0;
        display: block;
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    .logo_form_appear {
        max-width: 50px;
    }
    
    @media (max-width: 830px) {
        .header_form_appear h1 {
            font-size: 25px;
        }
        .header_form_appear i {
            font-size: 30px;
        }
        .header_form_appear {
            margin: 10px 10px;
            padding: 10px 20px;
        }
        .main_form_appear {
            height: calc(100% - 150px);
        }
        .form_appear_in {
            width: 100%;
            height: 100%;
        }
        .footer_form_appear {
            padding: 0;
        }
        .logo_form_appear {
            max-width: 50px;
            margin-top: 10px;
        }
    }
    /* This is Footer code */
    
    footer {
        background: #ecf0f1;
        padding: 50px 0px;
    }
    
    .footer_container {
        max-width: 1300px;
        margin: auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
    
    .left_col h1 {
        display: inline;
        font-size: 50px;
    }
    
    footer img {
        max-width: 100px;
    }
    
    .social {
        margin: 20px 0;
    }
    
    .social a {
        display: block;
        background: none;
        margin-top: 3px;
    }
    
    .social a p {
        display: inline;
        color: black;
        margin-left: 10px;
    }
    
    .social a i {
        color: #34495e;
        font-size: 20px;
    }
    
    .social a i:hover {
        color: #27ae60;
    }
    
    .right_col h1 {
        font-size: 22px;
        margin: 120px 0px 5px 0;
    }
    
    .under_line {
        width: 160px;
        height: 4px;
        margin-bottom: 10px;
        background: #27ae60;
    }
    
    .right_col p {
        margin: 5px 0;
    }
    
    .right_col p i {
        margin-right: 5px;
    }
    
    @media (max-width: 800px) {
        .footer_container {
            max-width: 600px;
        }
        .left_col h1 {
            display: block;
            font-size: 50px;
        }
        .right_col {
            width: 100%;
            margin-bottom: 60px;
            text-align: center;
        }
        .left_col {
            width: 100%;
            text-align: center;
        }
        .under_line {
            width: 160px;
            height: 4px;
            margin-bottom: 10px;
            background: #27ae60;
            display: inline-block;
        }
        .right_col h1 {
            margin: 0px 0px 5px 0;
        }
    }