body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2ecc71;
    background-image: url(../images/background_login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mid_box {
    width: 400px;
    padding: 40px;
    box-shadow: 0px 0px 25px 10px #34495e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #27ae60;
    text-align: center;
}

.mid_box img {
    max-width: 100px;
}

.mid_box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.mid_box input[type="text"],
.mid_box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
}

.mid_box input[type="text"]:focus,
.mid_box input[type="password"]:focus {
    width: 300;
    border-color: #3498db;
}

.show_hide {
    transform: translateY(-10px);
    font-size: smaller;
    color: #bdc3c7;
}

.mid_box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
}

.mid_box input[type="submit"]:hover {
    background: #3498db;
}


/* Custom for checkbox */


/* Customize the label (the container) */

.container {
    position: relative;
    top: -15px;
    color: #bdc3c7;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: smaller;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #3498db;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}