    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }
    
    body {
        font-family: sans-serif;
        background: #2ecc71;
    }
    /* This is Navigation bar code */
    
    nav {
        background: #2ecc71;
        height: 80px;
        width: 100%;
    }
    
    img.logo_img {
        max-width: 60px;
        margin-top: 10px;
        margin-left: 30px;
    }
    
    label.logo {
        position: absolute;
        color: white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 30px;
        font-weight: bold;
    }
    
    .subTitle {
        color: white;
        display: inline-block;
        font-size: 10px;
        padding-left: 15px;
    }
    
    nav ul {
        float: right;
        margin-right: 20px;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    
    nav ul li a {
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        padding: 10px 13px;
        border-radius: 3px;
    }
    
    #logout {
        margin-left: 50px;
    }
    
    a.active,
    a:hover {
        background: #27ae60;
        transition: .5s;
    }
    
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        margin-right: 40px;
        line-height: 80px;
        margin-top: 25px;
        cursor: pointer;
        display: none;
    }
    
    .checkbtn:hover {
        color: #27ae60;
    }
    
    #check {
        display: none;
    }
    
    @media (max-width: 930px) {
        #logout {
            margin-left: 0px;
        }
        label.logo {
            font-size: 30px;
        }
        nav ul li a {
            font-size: 15px;
        }
        .subTitle {
            padding-left: 5px;
        }
    }
    
    @media (max-width: 830px) {
        .checkbtn {
            display: block;
        }
        nav ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #27ae60;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a {
            font-size: 20px;
        }
        a:hover,
        a.active {
            background: none;
            color: #2ecc71;
        }
        #check:checked~ul {
            left: 0;
        }
    }
    
    @media (max-width: 340px) {
        label.logo {
            font-size: 25px;
        }
    }
    /* This is Main Website code */
    
    .main_website {
        min-height: 100vh;
        background-image: url(../images/background_login.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    /* This is Footer code */
    
    footer {
        background: #ecf0f1;
        padding: 50 0px;
    }
    
    .footer_container {
        max-width: 1300px;
        margin: auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
    
    .left_col h1 {
        display: inline;
        font-size: 50px;
    }
    
    footer img {
        max-width: 100px;
    }
    
    .social {
        margin: 20px 0;
    }
    
    .social a {
        display: block;
        background: none;
        margin-top: 3px;
    }
    
    .social a p {
        display: inline;
        color: black;
        margin-left: 10px;
    }
    
    .social a i {
        color: #34495e;
        font-size: 20px;
    }
    
    .social a i:hover {
        color: #27ae60;
    }
    
    .right_col h1 {
        font-size: 22px;
        margin: 120px 0px 5px 0;
    }
    
    .under_line {
        width: 160px;
        height: 4px;
        margin-bottom: 10px;
        background: #27ae60;
    }
    
    .right_col p {
        margin: 5px 0;
    }
    
    .right_col p i {
        margin-right: 5px;
    }
    
    @media (max-width: 800px) {
        .footer_container {
            max-width: 600px;
        }
        .left_col h1 {
            display: block;
            font-size: 50px;
        }
        .right_col {
            width: 100%;
            margin-bottom: 60px;
            text-align: center;
        }
        .left_col {
            width: 100%;
            text-align: center;
        }
        .under_line {
            width: 160px;
            height: 4px;
            margin-bottom: 10px;
            background: #27ae60;
            display: inline-block;
        }
        .right_col h1 {
            margin: 0px 0px 5px 0;
        }
    }